<div class="container">
	<div class="row">
	    <!-- 작은 사이즈에선 12개로 꽉차고, 중간사이즈부터는 4를 차지-->
		<div class="col s12 m4">
			<div class="card">
				<div class="card-image">
				    <!-- 일단은 샘플 이미지 -->
					<img src="http://materializecss.com/images/office.jpg"/>
				</div>
				<div class="card-content">
					<div class="card-title">
					    <!-- 로그인했다면, 현재 유저의 이름이 뜬다 -->
						<%= current_user.name %>
					</div>
					<p>
						이메일 : <%= current_user.email %>
					</p>
					<p>
					    <!-- posts_count 는 컨트롤러에서 작성을 해줘야 뜬다 -->
						올린 글 개수 : <%= @posts_count %>
					</p>
					<!--헬퍼를 이용해 포스트 작성하기로 이동-->
					<%= link_to new_post_path do %>
    					<button class="btn">글 쓰기</button>
					<% end %>
				</div>
			</div>
		</div>
		<!-- 작은 사이즈에선 12개로 꽉차고, 중간사이즈부터는 8를 차지-->
		<div class="col s12 m8">
		    <!-- @posts : DB에 저장된 모든 포스트를 컨트롤러에서 역순으로 보내줌-->
		    <!-- 이를 하나하나 뽑아 임시변수 post로 받음-->
			<% @posts.each do |post| %>
				<%= render partial: "post", object: post %>
			<% end %>
		</div>
	</div>
</div>